body{
    background-color: #F0F0F0;
}
.nav-header{
    width: 100%;
    height: 6.25em;
    display:inline-block;
    text-align: left;
    top:0;
    background-color: #FFFFFF;
}
.brand-logo{
    width: 3.25rem;
    height:2.78rem;
}
.brand-img{
    width:8.75rem;
    height:2.5rem;
    margin-left:0.32rem;
}
.brand-href{
    display:flex;
    height:100%;
    width:100%;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding-left:3rem;
    padding-right:3rem;
}
.navigation-navbar{
    background-color: #fff;
}
.ellipse{
    z-index: -1;
    position: absolute;
}
.green-line{
    stroke: green;
    stroke-width: 2px;
}